div{
    box-sizing: border-box;
}

.white-box{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.main-bg{
    width: 100%;


    background-color: rgba(227, 227, 228, 0.527);
    padding: 20px;
}
.profile-header{
    background-color: white;
    width: 100%;
}
.profile-contents{
    
    
}

span{
    border: gray solid 1px ;
    margin-right: 10px;
}